<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Class Timetable</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='incharge/dashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='incharge/timetable.css') }}">
</head>
<body>

    <div class="layout">
        <aside class="sidebar">
            <h2 class="logo">Incharge</h2>
            <nav>
                <a href="{{ url_for('incharge.incharge_dashboard') }}">Dashboard</a>
                <a href="{{ url_for('incharge.incharge_timetable') }}" class="active">Timetable</a>
                <a href="{{url_for('incharge.monthly_report')}}">Monthly Report</a>
                <a href="{{url_for('incharge.incharge_profile')}}">Profile</a>
                <a href="{{ url_for('auth.logout') }}" class="logout">Logout</a>
            </nav>
        </aside>

        <main class="content">

            <div class="header">
                <h2>Weekly Timetable</h2>
                <h4>{{ class_name }} - {{year}} year</h4>
            </div>

            <div class="table-wrapper">
                <table class="timetable">
                    <thead>
                        <tr>
                            <th>Day</th>
                            {% for i in range(1,8) %}
                                <th>P{{ i }}</th>
                            {% endfor %}
                        </tr>
                    </thead>

                    <tbody>
                        {% for day, periods in timetable.items() %}
                        <tr>
                            <td><b>{{ day }}</b></td>

                            {% for p in periods %}
                                {% if p.subject_name == 'Free' %}
                                    <td class="free">{{ p.subject_name }}</td>
                                {% else %}
                                    <td class="active">
                                        <p>{{ p.subject_name }}</p> 
                                    </td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </main>     
    </div>

</body>
</html>

