<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Hod</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='hod/view_teacher.css') }}">
    <meta name="theme-color" content="#ffffff">
</head>
<body>

<div class="layout">

    <main class="content">

        <!-- HEADER -->
        <div class="header">
            <h2>Hod Profile</h2>
            <p>Complete Hod information</p>
        </div>

        <!-- PROFILE CARD -->
        <div class="profile-card">

            <div class="profile-top">
                <div class="avatar">👨‍🏫</div>
                <div class="info">
                    <h3>{{hod.name.upper()}}</h3>
                </div>
            </div>

            <!-- DETAILS -->
            <div class="details-grid">

                <div class="detail">
                    <span>hod ID</span>
                    <p>{{hod.hod_id.upper()}}</p>
                </div>

                <div class="detail">
                    <span>Department</span>
                    <p>{{hod.department.upper()}}</p>
                </div>

                <div class="detail">
                    <span>Email</span>
                    <p>{{hod.email}}</p>
                </div>

                <div class="detail">
                    <span>Phone</span>
                    <p>{{hod.phone}}</p>
                </div>
                 
                <div class="detail">
                    <span>Experience</span>
                    <p>{{hod.experience}}</p>
                </div>

            </div>

            <!-- BUTTON -->
            <div class="btn-group">
                <a href="{{ url_for('admin.hod_management') }}" class="btn back">Back</a>
            </div>

        </div>

    </main>

</div>

</body>
</html>
