* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

/* LAYOUT */
body {
    display: flex;
    background: #f4f6f9;
}

/* SIDEBAR */
.sidebar {
    width: 250px;
    height: 100vh;
    background: #003366;
    padding-top: 20px;
    color: white;
    position: fixed;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
}

.sidebar a {
    display: block;
    padding: 15px 25px;
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.sidebar a:hover,
.sidebar .active {
    background: #0059b3;
}

.sidebar .logout {
    margin-top: 50px;
    background: #cc0000;
}

/* MAIN CONTENT */
.main {
    margin-left: 250px;
    padding: 20px;
    width: 100%;
}

.topbar {
    background: white;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 25px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

/* CARDS */
.cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    background: white;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

/* TODAY BOX */
.today-box {
    margin-top: 30px;
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.status {
    font-size: 22px;
    margin-top: 10px;
    font-weight: bold;
}

.status.present {
    color: green;
}

.status.absent {
    color: red;
}

.total-days {
    font-size: 55px;
    margin-top: 20px;
    font-weight: bold;
}


/* MOBILE VIEW */
@media (max-width: 768px) {
    .sidebar {
        width: 200px;
    }

    .main {
        margin-left: 200px;
    }

    .cards {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
    }
}
