<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Teacher</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="{{ url_for ('static', filename ='hod/add_teacher.css')}}">
    
</head>
<body>

<div class="layout">

    <!-- CONTENT -->
    <main class="content">

        <!-- HEADER -->
        <div class="header">
            <h2>Add Teacher</h2>
            <p>Enter teacher details carefully</p>
        </div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert {{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <!-- FORM CARD -->
        <div class="form-card">
            <form method="POST">

                <div class="form-grid">
                    <input type="hidden" name="action" value="save">
                    <div class="form-group">
                        <label>Teacher ID</label>
                        <input type="text" name="teacher_id" placeholder="TCH101" required>
                    </div>

                    <div class="form-group">
                        <label>Full Name</label>
                        <input type="text" name="name" placeholder="Teacher Name" required>
                    </div>

                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" name="email" placeholder="teacher@email.com" required>
                    </div>

                    <div class="form-group">
                        <label>Phone Number</label>
                        <input type="text" name="phone" placeholder="9876543210" required>
                    </div>

                    {% if hod_year %}
                        <div class="form-group">
                            <label>Department</label>
                            <select name="department" required>
                                {% for dept in department%}
                                    <option value="{{dept.department_name}}">{{dept.department_name.upper()}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    {% else %}
                        <div class="form-group">
                            <label>Department</label>
                            <select name="department" required>
                                <option value="{{department}}">{{department}}</option>
                            </select>
                        </div>
                    {% endif %}

                    <div class="form-group">
                        <label>Gender</label>
                        <select name="gender" required>
                            <option value="">Select Gender</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" name="password" placeholder="********" required>
                    </div>

                    <div class="form-group">
                        <label>Experience</label>
                        <input type="number" name="experience" placeholder="3" min="1" step="1"required>
                    </div>

                    <div class="form-group">
                        <label>Which Year(1 or >2)</label>
                        <input type="number" name="teacher_year" placeholder="1 or 2" min="1" max="4" step="1" required>
                    </div>

                </div>

                <div class="btn-group">
                    <input type="hidden" name="action" value="save">
                    <button type="submit" class="btn primary">Add Teacher</button>
                    <button type="reset" class="btn secondary">Clear</button>
                    <a href="{{ url_for ('hod.teacher_list')}}">← Back</a>
                </div>

            </form>
        </div>

    </main>

</div>
    <script>
        setTimeout(() => {
            const alertBox = document.querySelector(".alert");
            if (alertBox) alertBox.style.display = "none";
        }, 3000);
    </script>
</body>
</html>
